
@{
    ViewBag.Title = "Buy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Buy</h2>
<br />
<p style="font-size: 24px">Ban da mua cuon sach <strong>@Model.Title</strong> voi gia <strong>@Model.Price</strong> VND</p>


